## Comic Books Part 2

In this activity, you use some of Pandasâ€™ built-in functions to create a new summary DataFrame based on the modified version of the comic book DataFrame.

### Instructions

Using the modified DataFrame that was created earlier, create a summary table for the dataset that includes the following pieces of information:

* The count of unique authors within the DataFrame

* The count of unique countries of publication within the DataFrame

* The year of the earliest published book in the DataFrame

* The year of the latest published book in the DataFrame

In [3]:
# import dependencies
import pandas as pd

In [4]:
# read the modified comic books csv from part 1 and store into pandas dataframe
clean_comics = pd.read_csv("../../10-Stu_ComicBooksCSV/Unsolved/Output/clean_comic_books.csv")

clean_comics.head()

,Unnamed: 0,ISBN,Title,Other Titles,Author,All Names,Publication Country,Publication Place,Publisher,Publication Year
0,0,9780930193904,#$@&! : the official Lloyd Llewellyn collection,Official Lloyd Llewellyn collection,"Clowes, Daniel","Clowes, Daniel [person]",England ; United States of America,"London ; Seattle, Washington",Fantagraphics ; Turnaround,1997
1,1,9780992664220,#WhatDoYouSee? : a graphic novel anthology of ...,NaN,NaN,Fulfilling Lives (Programme) [organisation],England,Newcastle upon Tyne,Roots & Wings,2018
2,2,9781302903299,#takebacktheshield,NaN,"Spencer, Nick","Spencer, Nick, author [person]",United States of America,New York,Marvel Worldwide,2017
3,3,9781607065166,'68. Volume 1. Better run through the jungle,Better run through the jungle,"Kidwell, Mark","Fotos, Jay [person] ; Jones, Nat, 1976- [perso...",United States of America,"Berkeley, California",Image Comics,2012
4,4,9781600107672,'Bots of science,Trans formers ; Trans formers animated : bots ...,"Bryant, Megan E.","Robbins, Robbie [person] ; Boo, 1981- [person]...",United States of America,"San Diego, California",NaN,2010

In [8]:
# calculate the number of unique authors in the dataframe
num_unique_authors =len(clean_comics["Author"].unique())
print(f"There are {num_unique_authors} unique authors in the database.")

# calculate the number of unique publication countries in the DataFrame
num_unique_countries = len(clean_comics["Publication Country"].unique())
print(f"There are {num_unique_countries} unique publication countries in the database.")

# calculate the earliest/latest year a book was published
earliest = clean_comics["Publication Year"].min()
print(f"The oldest comic contained in the database was published in {earliest}.")

latest = clean_comics["Publication Year"].max()
print(f"The newest comic contained in the database was published in {latest}.")

There are 4249 unique authors in the database.
There are 62 unique publication countries in the database.
The oldest comic contained in the database was published in 1941.
The newest comic contained in the database was published in 2021.

In [20]:
# Place all of the data found into a summary DataFrame
comic_summary = pd.DataFrame({"Unique Author Count" : num_unique_authors,
                              "Unique Country Count" : num_unique_countries,
                              "Earliest Publication Year" : earliest,
                              "Latest Publication Year" : latest
                             }, index=[0])

comic_summary

,Unique Author Count,Unique Country Count,Earliest Publication Year,Latest Publication Year
0,4249,62,1941,2021