## DataFrame Shop

In this activity, you will create DataFrames from scratch using both a list of dictionaries and a dictionary of lists.

### Instructions

* Create a DataFrame for a frame shop. The DataFrame should contain three columns,  "Frame", "Price", and "Sales", and have five rows of data stored within it.

* Using an alternative method, create a DataFrame for an art gallery. The DataFrame should contain three columns, "Painting", "Price", and "Popularity", and have four rows of data stored within it.

In [7]:
# import dependencies
import pandas as pd

In [8]:
# construct a dictionary containing five data rows in lists, with column names as keys
frame_dict = {
    "Frame" : ["Gold Ornate", "Classic Black", "Modern White", "Cherry Wood", "Austere Metal"],
    "Price" : [180.0, 150.0, 130.0, 125.0, 145.0],
    "Sales" : [1982, 2938, 1392, 3592, 4452],
}

# create a dataframe from the dictionary
df = pd.DataFrame(data_dict)
df

           Frame  Price  Sales
0    Gold Ornate  180.0   1982
1  Classic Black  150.0   2938
2   Modern White  130.0   1392
3    Cherry Wood  125.0   3592
4  Austere Metal  145.0   4452

In [9]:
# construct a list of dictionaries containing keys for columns, and one dictionary per row

painting_list = [
    {"Painting" : "Mona Lisa", "Price" : 870000000, "Popularity" : "Highest"},
    {"Painting" : "The Scream", "Price" : 145000000, "Popularity" : "Medium"},
    {"Painting" : "American Gothic", "Price" : 50000000, "Popularity" : "Medium-Low"},
    {"Painting" : "A Sunday Afternoon on the Island of La Grande Jatte", "Price" : 650000000, "Popularity" : "High"}
]

# create a dataframe from the dictionary
painting_df = pd.DataFrame(painting_list)
painting_df

                                            Painting      Price  Popularity
0                                          Mona Lisa  870000000     Highest
1                                         The Scream  145000000      Medium
2                                    American Gothic   50000000  Medium-Low
3  A Sunday Afternoon on the Island of La Grande ...  650000000        High