In [1]:
# load dependencies
# it is common practice to import pandas as pd
import pandas as pd

In [4]:
# recall list structure
college_list = ["UCLA", "UC Berkeley", "UC Irvine",
                         "University of Central Florida", "Rutgers University"]

In [5]:
# investigate the structure of a Pandas Series by constructing it from a raw list
data_series = pd.Series(college_list)
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [6]:
# convert a list of dictionaries into a dataframe
states_dicts = [{"State": "New Jersey", "Abbreviation": "NJ"},
                {"State": "New York", "Abbreviation": "NY"}]

states_df = pd.DataFrame(states_dicts)

# examine the structure of this dataframe
states_df

        State Abbreviation
0  New Jersey           NJ
1    New York           NY

In [7]:
# convert a single dictionary containing lists into a dataframe
pharaoh_df = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharaoh": ["Thinis", "Memphis"]
     }
)

# examine the structure of this dataframe
pharaoh_df

                 Dynasty  Pharaoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis