## Exploring Census Data

In this activity, you will revisit the U.S. Census data and create DataFrames with calculated totals and averages for each state by year.

### Instructions

1. Read in the census CSV file with Pandas.

2. Create two new DataFrames, one to find totals and another to find averages. DataFrames should include:

    * Totals for population, employed civilians, unemployed civilians, people in the military, and poverty count.

    * Averages for median age, household income, and per capita income.

3. Create new DataFrames once the totals and averages have been grouped by each year and state.

4. Rename any columns to reflect the data calculations.

5. Export the resulting tables to CSVs. We will be using them again in our next class.

In [2]:
# load dependencies
import pandas as pd

In [3]:
# save file path to variable
filepath = "Resources/census_data_2016-2019.csv"

In [4]:
# Read with Pandas
census_df_raw = pd.read_csv(filepath)

census_df_raw.head()

,Year,County,State,Population,Median Age,Household Income,Per Capita Income,Employed Civilians,Unemployed Civilians,People in the Military,Poverty Count
0,2016,Autauga County,Alabama,55049,37.8,53099.0,26168.0,24262.0,1437.0,309.0,6697.0
1,2016,Baldwin County,Alabama,199510,42.3,51365.0,28069.0,87753.0,5887.0,232.0,25551.0
2,2016,Barbour County,Alabama,26614,38.7,33956.0,17249.0,8993.0,1323.0,0.0,6235.0
3,2016,Bibb County,Alabama,22572,40.2,39776.0,18988.0,8354.0,643.0,5.0,3390.0
4,2016,Blount County,Alabama,57704,40.8,46212.0,21033.0,21593.0,1367.0,9.0,9441.0

In [5]:
# create a dataframe with columns to total: Year, County, State, Population, 
# Employed Civilians, Unemployed Civilians, People in the Military, Poverty Count
census_reduced = census_df_raw[["Year", "County", "State", "Population", "Employed Civilians",
                                "Unemployed Civilians", "People in the Military", "Poverty Count"]]

census_reduced.head()

,Year,County,State,Population,Employed Civilians,Unemployed Civilians,People in the Military,Poverty Count
0,2016,Autauga County,Alabama,55049,24262.0,1437.0,309.0,6697.0
1,2016,Baldwin County,Alabama,199510,87753.0,5887.0,232.0,25551.0
2,2016,Barbour County,Alabama,26614,8993.0,1323.0,0.0,6235.0
3,2016,Bibb County,Alabama,22572,8354.0,643.0,5.0,3390.0
4,2016,Blount County,Alabama,57704,21593.0,1367.0,9.0,9441.0

In [10]:
# create a dataframe of the totals for each state by year
census_by_year = census_reduced.groupby(["Year", "State"])

state_totals_by_year = census_by_year.sum()
state_totals_by_year

                    Population  Employed Civilians  Unemployed Civilians  \
Year State
2016 Alabama           4841164           2042025.0              184479.0
     Alaska             736855            353954.0               30139.0
     Arizona           6728577           2879372.0              249972.0
     Arkansas          2968472           1266552.0               93190.0
     California       38654206          17577142.0             1683726.0
...                        ...                 ...                   ...
2019 Virginia          8454463           4156018.0              200850.0
     Washington        7404107           3594279.0              187330.0
     West Virginia     1817305            740910.0               51910.0
     Wisconsin         5790716           2982359.0              111564.0
     Wyoming            581024            288503.0               13544.0

                    People in the Military  Poverty Count
Year State
2016 Alabama                       12150.0       868666.0
     Alaska                        16382.0        72826.0
     Arizona                       17373.0      1165636.0
     Arkansas                       4445.0       542431.0
     California                   130452.0      6004257.0
...                                    ...            ...
2019 Virginia                     120385.0       865691.0
     Washington                    52871.0       785244.0
     West Virginia                  1306.0       310044.0
     Wisconsin                      3190.0       639160.0
     Wyoming                        2957.0        62257.0

[208 rows x 5 columns]

In [12]:
# rename columns to make them more understandable
state_totals_by_year = state_totals_by_year.rename(columns={"Population": "Total Population",
                                               "Employed Civilians": "Total Employed Civilians",
                                               "Unemployed Civilians": "Total Unemployed Civilians",
                                               "People in the Military": "Total People in the Military",
                                               "Poverty Count": "Total Population in Poverty"})

state_totals_by_year.head()

                 Total Population  Total Employed Civilians  \
Year State
2016 Alabama              4841164                 2042025.0
     Alaska                736855                  353954.0
     Arizona              6728577                 2879372.0
     Arkansas             2968472                 1266552.0
     California          38654206                17577142.0

                 Total Unemployed Civilians  Total People in the Military  \
Year State
2016 Alabama                       184479.0                       12150.0
     Alaska                         30139.0                       16382.0
     Arizona                       249972.0                       17373.0
     Arkansas                       93190.0                        4445.0
     California                   1683726.0                      130452.0

                 Total Population in Poverty
Year State
2016 Alabama                        868666.0
     Alaska                          72826.0
     Arizona                       1165636.0
     Arkansas                       542431.0
     California                    6004257.0

In [16]:
# create a dataframe with columns to average: Year, County, State, Median Age, 
# Household Income, Per Capita Income
state_avg_prep = census_df_raw[["Year", "County", "State", "Median Age",
                                 "Household Income", "Per Capita Income"]]
state_avg_prep.head()

,Year,County,State,Median Age,Household Income,Per Capita Income
0,2016,Autauga County,Alabama,37.8,53099.0,26168.0
1,2016,Baldwin County,Alabama,42.3,51365.0,28069.0
2,2016,Barbour County,Alabama,38.7,33956.0,17249.0
3,2016,Bibb County,Alabama,40.2,39776.0,18988.0
4,2016,Blount County,Alabama,40.8,46212.0,21033.0

In [17]:
# create a dataframe of the averages for each state by year
state_averages = state_avg_prep.groupby(["Year", "State"]).mean()

state_averages

                    Median Age  Household Income  Per Capita Income
Year State
2016 Alabama         40.250746      38834.925373       21232.746269
     Alaska          36.624138      64801.655172       31052.103448
     Arizona         39.613333      44166.533333       21786.333333
     Arkansas        41.140000      37503.720000       20591.666667
     California      39.281034      58091.241379       29025.793103
...                        ...               ...                ...
2019 Virginia        42.136090      60756.736842       31250.180451
     Washington      42.146154      59393.461538       30986.256410
     West Virginia   44.365455      44892.236364       24691.836364
     Wisconsin       43.656944      58305.861111       31034.361111
     Wyoming         40.443478      61828.652174       32161.782609

[208 rows x 3 columns]

In [18]:
# rename columns to make them more understandable
state_averages = state_averages.rename(columns={"Median Age" : "Avg Median Age by County",
                                                "Household Income" : "Avg Household Income by County",
                                                "Per Capita Income" : "Avg Per Capita Income by County"})

state_averages.head()

                 Avg Median Age by County  Avg Household Income by County  \
Year State
2016 Alabama                    40.250746                    38834.925373
     Alaska                     36.624138                    64801.655172
     Arizona                    39.613333                    44166.533333
     Arkansas                   41.140000                    37503.720000
     California                 39.281034                    58091.241379

                 Avg Per Capita Income by County
Year State
2016 Alabama                        21232.746269
     Alaska                         31052.103448
     Arizona                        21786.333333
     Arkansas                       20591.666667
     California                     29025.793103

In [20]:
# export the dataframes to csv
state_totals_by_year.to_csv("Output/state_tots_2016-2019.csv", index=True)
state_averages.to_csv("Output/state_avgs_2016-2019.csv", index=True)

#### References

[U.S. Census API - ACS 5-Year Estimates 2016-2019](https://www.census.gov/data/developers/data-sets/census-microdata-api.ACS_5-Year_PUMS.html)